<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_ISubscriberService" />
                <binding name="WSDualHttpBinding_ISubscriberService1" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:9011/SubService" binding="wsDualHttpBinding"
                bindingConfiguration="WSDualHttpBinding_ISubscriberService"
                contract="EventService.ISubscriberService" name="WSDualHttpBinding_ISubscriberService">
                <identity>
                    <userPrincipalName value="DESKTOP-5GTLDLR\dylan" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:9011/SubService" binding="wsDualHttpBinding"
                bindingConfiguration="WSDualHttpBinding_ISubscriberService1"
                contract="SubService.ISubscriberService" name="WSDualHttpBinding_ISubscriberService1">
                <identity>
                    <userPrincipalName value="DESKTOP-5GTLDLR\dylan" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>